fieldset {
  display: inline;
}
/* This made everything encompassed within the aside bole, which was not my intention
aside {
  font-weight: bold;
}*/

/* This was my attempt to put the label above the input
label {
  display: block;
}*/

input.selector {
  background-color: rgb(113, 209, 235);
  border-color: rgb(153, 18, 226)
}
footer {
  color: rgb(131, 133, 132);
  font-size: .7em;
}
